<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thejoa703.dao.UserDao">

  <resultMap id="userMap" type="com.thejoa703.dto.UserDto">
    <result property="appUserId" column="APP_USER_ID" />
    <result property="email" column="EMAIL" />
    <result property="password" column="PASSWORD" />
    <result property="mbtiTypeId" column="MBTI_TYPE_ID" />
    <result property="createdAt" column="CREATED_AT" />
  </resultMap>

  <!-- 회원 등록 -->
  <insert id="insert" parameterType="com.thejoa703.dto.UserDto">
    INSERT INTO appuser (
        APP_USER_ID, EMAIL, PASSWORD, MBTI_TYPE_ID
    ) VALUES (
        appuser_seq.nextval, #{email}, #{password}, #{mbtiTypeId}
    )
  </insert>

  <!-- 전체 조회 -->
  <select id="selectAll" resultMap="userMap">
    SELECT * FROM appuser ORDER BY appUserId DESC
  </select>

  <!-- 단일 조회 -->
  <select id="select" resultMap="userMap" parameterType="int">
    SELECT * FROM appuser WHERE appUserId = #{appUserId}
  </select>

  <!-- 로그인 -->
  <select id="login" parameterType="com.thejoa703.dto.UserDto" resultMap="userMap">
    SELECT * FROM appuser
    WHERE email = #{email} AND password = #{password}
</select>


  <!-- 수정 -->
  <update id="update" parameterType="com.thejoa703.dto.UserDto">
    UPDATE appuser 
    SET email=#{email}, password=#{password}, mbtiTypeId=#{mbtiTypeId}
    WHERE appUserId=#{appUserId}
  </update>

  <!-- 삭제 -->
  <delete id="delete" parameterType="com.thejoa703.dto.UserDto">
    DELETE FROM appuser WHERE appUserId=#{appUserId} AND password=#{password}
  </delete>

</mapper>
